.food_main{
    padding: 60px;
    /* background-color: aquamarine; */
}
.main_food
{
    display: inline-block;
    margin: 30px;
    height: 250px;
    width: 300px;
    border: 2px solid rgba(255, 68, 0, 0.7);
    padding: 10px;
    border-radius: 10px;
}

.food_menu
{
    display: flex;
    gap: 5rem;
}
.filter_food
{
    height: 30px;
    padding: 20px;
    padding-left: 80px;
    display: flex;
    gap: 2rem;
    background-color: whitesmoke;
}
.filter_food button{
    padding: 15px;
    border:  none;
    font-size: medium;
}